.text-danger {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
}

/* Estilos para Boton de Subir/Bajar */
.btn-updown {
    display:block;
    margin-bottom: 5px;
    padding:10px 14px;
    border-radius:50%;
    border:none;
    background:#AB0A3D;
    color:#fff;
    font-size:18px;
    box-shadow:0 2px 6px #0002;
}